.nav-main{
    /* margin-top: 3rem; */
    background-color: #ffffff;
    height: 4rem;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top:0;
    border-bottom: 1px solid rgb(224, 223, 223);
    
}

.nav-title{
    display: flex;
    color: #020202;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
h1{
    font-weight: 500;
}

.nav-list{
    display: flex;
    color: #000000;
    list-style: none;
    gap: 3rem;
}

a{
    text-decoration: none;
    color: #313131;
    font-weight: 500;
}

a:hover{
    color: #3B82F6;
}

a:active{
    color: #3B82F6;
}

button{
    color: #FFFFFF;
    background-color: #2563EB;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: #07369d;
}

button:active{
    background-color: #07369d;
    box-shadow: 0px 5px #000;
    transform: translateY(3px);
}

@media screen and (max-width:427px) {

    .nav-main div .nav-list {
        display: none;
    }
}